<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-secondary md:min-h-[35.5rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">educação</h3>
        <p class="text-primary font-[300] md:text-right">Preguiçoso não está no meu vocabulário.</p>
        
    </div>


    <div class="md:bg-primary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid md:grid-cols-1 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <div class="flex md:flex-row flex-col md:gap-[9.38rem]">

                <div class="flex flex-col pl-[0.62rem] border-l-4 border-primary leading-[1.12rem]">
                    <span class="font-roboto font-[300] text-[0.90rem] text-third">2023 - Atual</span>
                    <h3 class="font-roboto font-[700] text-[1.12rem] uppercase text-third">educação</h3>
                   <span class="font-roboto font-[300] text-[0.90rem] text-third">Recife, PE</span>
                </div>

                <p class="min-w-[18.90rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem]">Lorem ipsum Lorem ipsum dolor sit amet consectetur. Pulvinar non gravida sed quisque aliquam non purus sagittis. Ac elementum fames ultrices eget. Habitasse est neque egestas in nunc praesent id. Diam.</p>
                
            </div>

            <div class="flex md:flex-row flex-col md:gap-[9.38rem]">

                <div class="flex flex-col pl-[0.62rem] border-l-4 border-primary leading-[1.12rem]">
                    <span class="font-roboto font-[300] text-[0.90rem] text-third">2023 - Atual</span>
                    <h3 class="font-roboto font-[700] text-[1.12rem] uppercase text-third">educação</h3>
                   <span class="font-roboto font-[300] text-[0.90rem] text-third">Recife, PE</span>
                </div>

                <p class="min-w-[18.90rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem]">Lorem ipsum Lorem ipsum dolor sit amet consectetur. Pulvinar non gravida sed quisque aliquam non purus sagittis. Ac elementum fames ultrices eget. Habitasse est neque egestas in nunc praesent id. Diam.</p>
                
            </div>

            <div class="flex md:flex-row flex-col md:gap-[9.38rem]">

                <div class="flex flex-col pl-[0.62rem] border-l-4 border-primary leading-[1.12rem]">
                    <span class="font-roboto font-[300] text-[0.90rem] text-third">2023 - Atual</span>
                    <h3 class="font-roboto font-[700] text-[1.12rem] uppercase text-third">educação</h3>
                   <span class="font-roboto font-[300] text-[0.90rem] text-third">Recife, PE</span>
                </div>

                <p class="min-w-[18.90rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem]">Lorem ipsum Lorem ipsum dolor sit amet consectetur. Pulvinar non gravida sed quisque aliquam non purus sagittis. Ac elementum fames ultrices eget. Habitasse est neque egestas in nunc praesent id. Diam.</p>
                
            </div>



        </div>

    </div>

</section>