<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-primary md:min-h-[35.5rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">expertise</h3>
        <p class="text-primary font-[300] md:text-right">Batman ficaria com ciúmes.</p>
        
    </div>


    <div class="md:bg-secondary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid md:grid-cols-2 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">01</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <p class="min-w-[15.5rem] font-roboto font-[400] text-[1.12rem] text-primary leading-[1.12rem] text-justify mt-[0.62rem] ">Lorem ipsum dolor sit amet consectetur. Nulla leo eget aliquet sem. Facilisi a nec purus nulla sit eget sit.</p>

            </div>

        </div>

    </div>

</section>