<div class="flex flex-col md:flex-row gap-[2rem] md:gap-[3.75rem] mt-[2.5rem] md:mt-0">

    <div class="text-[1.12rem] md:leading-[4rem]">

       <h3 class="text-third font-[700] ">Local</h3>
       <span class="text-primary font-[300]">Recife, PE</span> 

    </div>

    <div class="text-[1.12rem] md:leading-[4rem]">

        <h3 class="text-third font-[700] ">Whatsapp</h3>
        <a href="http://wa.me/" target="_blank" rel="noopener noreferrer">
            <span class="text-primary font-[300]">+xx (xx) x xxxx-xxxx</span>
        </a> 
 
     </div>

     <div class="text-[1.12rem] md:leading-[4rem]">

        <h3 class="text-third font-[700] ">E-mail</h3>
        <a href="mailto:">
            <span class="text-primary font-[300]">contato@contato.com</span>
        </a> 
 
     </div>

</div>