<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-secondary md:min-h-[24.43rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">intro</h3>
        <p class="text-primary font-[300] md:text-right">Quem sou eu.</p>
        
    </div>


    <div class="md:bg-primary pt-[2rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <p class="max-w-[41.62rem] h-[auto] font-roboto font-[400] text-justify text-primary">
            Lorem ipsum dolor sit amet consectetur. Ac in sed pellentesque mauris sed porttitor vehicula. Nec volutpat faucibus fermentum mauris eget elementum. Nulla scelerisque nisl sodales amet donec viverra. Blandit eget et pellentesque urna. Venenatis varius massa vitae amet bibendum libero at rhoncus purus. Urna sed scelerisque et ultricies massa sed lorem aliquam. Fames enim faucibus sed laoreet ut ultricies eu suspendisse metus. Lectus aliquet habitasse lacus id condimentum egestas tincidunt.
        </p>

    </div>

</section>