<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-primary md:min-h-[28.18rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">perfis</h3>
        <p class="text-primary font-[300] md:text-right">Alguns dos meus perfis.</p>
        
    </div>


    <div class="md:bg-secondary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid md:grid-cols-2 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

            <div>

                <button>
                    <div class="flex items-center gap-[1.25rem]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-[2rem] fill-primary" viewBox="0 0 256 256"><path d="M160,80a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H168A8,8,0,0,1,160,80Zm-24,78a42,42,0,0,1-42,42H32a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H90a38,38,0,0,1,25.65,66A42,42,0,0,1,136,158ZM40,116H90a22,22,0,0,0,0-44H40Zm80,42a26,26,0,0,0-26-26H40v52H94A26,26,0,0,0,120,158Zm128-6a8,8,0,0,1-8,8H169a32,32,0,0,0,56.59,11.2,8,8,0,0,1,12.8,9.61A48,48,0,1,1,248,152Zm-17-8a32,32,0,0,0-62,0Z"></path></svg>
                        <p class="font-roboto font-[700] uppercase text-secondary">título</p>
                    </div>
                </button>

            </div>

        </div>

    </div>

</section>