<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-secondary md:min-h-[28.18rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">portfolio</h3>
        <p class="text-primary font-[300] md:text-right">Aqui fica interessante.</p>
        
    </div>


    <div class="md:bg-primary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid place-content-center md:place-content-stretch md:grid-cols-2 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

            <a href="http://" target="_blank" rel="noopener noreferrer">
                
                <img class="w-[16.25rem] h-[11.87rem] rounded-[0.5rem]" src="https://placehold.co/260x190" alt="Trabalho tal" title="Trabalho tal">

            </a>

        </div>
    </div>

</section>