<section class="grid md:place-content-stretch md:grid-cols-[35%_auto] md:px-0">

    <div class="md:bg-secondary md:min-h-[35.5rem] pt-[5.30rem] md:pr-[2rem] px-[1rem]">
       
        <h3 class="text-third font-[700] md:text-right uppercase">skills</h3>
        <p class="text-primary font-[300] md:text-right">Barras de progresso, alguém?</p>
        
    </div>


    <div class="md:bg-primary pt-[2rem] md:pb-[7.70rem] md:pt-[5.30rem] md:pl-[2rem] px-[1rem]">

        <div class="grid md:grid-cols-2 gap-[2rem] md:gap-[4.38rem] max-w-[39.25rem]">

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

            <div>

                <div class="flex gap-[0.62rem]">
                    <span class="font-roboto font-[700] text-secondary">50%</span>
                    <p class="font-roboto font-[700] uppercase text-third">título</p>
                </div>

                <div class="min-w-64 bg-gray-300 overflow-hidden mt-[1.12rem]">
                    <div class="bg-third h-2" style="width: 50%;"></div>
                </div>

            </div>

        </div>

    </div>

</section>